	/*logo alatti cím*/
			.logoszov{
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
			}
	/*logo*/
			.img_logo2{
				width:80px;
				height:80px;
				margin-top:10px;
				display:block;
			}
			h1{
				text-shadow: 2px 2px 4px rgba(0,0,0,0.4); /*főcímek árnyéka*/ 
			}
			body{
				display: flex;
				flex-direction: column;
				margin:0;
				background-color: #808080;
				overflow-x:hidden;         /*vízszintes túllógás*/
				}
			main{
				flex:1;
				max-width: 1000px;
				margin: 10px auto;
				padding: 0 20px;
				font-size:20px;
				}
	/*navigációs sáv*/
			.navbar {
			overflow: visible;
			background-color: #444444;
			display: flex;
			flex-wrap: wrap;
			justify-content: center; /*menüpontok középre igazítása*/
			padding:0;
			top: 0;
			position:sticky;/*gördítés közben a lap tetején marad*/
			z-index:1000;/*többi tartalomhoz képesti elhelyezés(mélységre)*/
			width:100%;
			box-shadow: 0 4px 6px rgba(0,0,0,0.3);
			}
	/*navigációs linkek*/
			.navbar a {
			font-size: 20px;
			color: white;
			text-align: center;
			padding: 20px 30px;
			text-decoration: none; /*link aláhúzás eltávolítása*/
			}
	/*legördülő menü konténere*/
			.dropdown {
			position: relative;
			display:flex;
			}
	/*aktuális menü*/
			.active{
				background-color: #008080;
				color: white;
			}
			.dropdown .dropbtn.active {
				background-color: #008080 !important;
				color: white;
			}
			
	/*legördülő menü gombjai*/
			.dropdown .dropbtn {
			width:100%;
			font-size: 20px;  
			border: none; /*keret eltávolítása*/
			outline: none; /*kiemelés eltávolítása*/
			color: white;
			padding: 20px 30px;
			background-color: inherit; /*navbar háttérszín öröklése*/
			font-family: inherit;
			margin: 0;
			display:block;
			flex: 1;
			}
	/*effektek a navbar és a legördülő gombokra*/
			.navbar a:hover, 
			.dropdown:hover .dropbtn:not(.active) {
			background-color: #111111; /*fekete háttér egérre*/
			}
	/*legördülő menü tartalma*/
			.dropdown-content {
			display: block;
			position: absolute;
			top:100%;
			left:0;
			width:100%;
			background-color: #111111;
			z-index: 1000;
			box-sizing: border-box;
			box-shadow: 0 8px 16px rgba(0,0,0,0.3);
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			/*animációk*/
			transition: 
				max-height 0.4s ease,
				opacity 0.4s ease,
				transform 0.4s ease;
			}
	/*legördülő linkek*/
			.dropdown-content a {
			display: block;
			color: white;
			text-decoration: none;
			text-align: center;
			padding:12px 16px;
			width:100%;
			box-sizing: border-box;
			background-color: #111;                
			transition: background-color 0.8s ease, color 0.8s ease;
			}
			.dropdown-content a.active {
			background-color: #008080;
			color: white;
			}
	/*effekt a legördülő linkekre*/
			.dropdown-content a:hover {
			background-color: #ddd; /*szürke háttér ha egér*/
			color: black; /*fekete szöveg ha egér*/
			}
	/*effekt a legördülésre*/
			.dropdown:hover .dropdown-content {
			max-height: 500px;
			opacity: 1;
			transform: translateY(0);
			transition-delay: 0.1s;
			}
	/*oldal alja*/
			footer {
			overflow: visible;
			background-color: #444444;
			display: flex;
			justify-content: center;
			text-align: center;
			position:static;
			width:100%;
			bottom:0;
			z-index:1000;
			padding: 3px;
			color: white;
			box-shadow: 0 4px 6px rgba(0,0,0,.3);
			}
	/*elerhetoseg icon*/
			.elerhetoseg{
			width:30px;
			height:30px;
			margin-right:15px;
			margin-top:10px;
			margin-bottom:10px;
			}
			
	/*képgalléria*/
			.kep-container{
			display: flex;
			justify-content: center;
			}

			.galleria{
			width: 80%;
			box-shadow:0 4px 10px rgba(0,0,0,0.3);
			
			}
	/*én képem*/
			.en-kep{
			width:250px;
			float:right;
			margin:0 0 20px 30px;
			border-radius:10px;
			box-shadow:0 4px 10px rgba(0,0,0,0.3);
			}
	/*képsorozat*/
			.kep-sor{
			display: flex;
			justify-content: center; /* középre igazítás */
			flex-wrap: wrap; /* mobilon egymás alá kerülhetnek */
			gap: 20px; /* távolság a képek között */
			margin-top: 20px;
			}

			.kepek{
			width: 45%; /* két kép mellé fér */
			max-width: 600px; /* ne legyen túl nagy */
			border-radius: 10px;
			box-shadow: 0 4px 10px rgba(0,0,0,0.3);
			}
			
			.kep{
				width:50%;
				display:flex;
				justify-content:center;
				flex-wrap:wrap;
				border-radius:10px;
				box-shadow: 0 4px 10px rgba(0,0,0,0.3);
				
			}
			
	/*reszponzív oldal*/
			@media (max-width: 900px) {
				 main{
                font-size:16px;
				}
				.navbar {
					flex-direction: column;
					align-items:stretch;
				}
				.navbar a,
				.dropdown .dropbtn {
					padding: 15px 0;
					width:100%;
					text-align:center;
				}
				.dropdown{
					display:block;
					width: 100%;
				}
				.dropdown-content {
					width: 100%;
					position: static;
					max-height: none;
					opacity: 1;
					transform: none;        
					overflow: visible;
					box-shadow: none;
					display: none;
				}
				.dropdown:hover .dropdown-content {
				display: block;
				}
				.en-kep{
				float:none;
				display:block;
				margin:20px auto;
				width:180px;
				}
				.erasmus-kep{
					width:100%;
				}
				
			}
				hr {
					border: 1px solid black; /* vonal:vastagság, típus, szín */
				}
